.message {
    font-weight: 600;
    color: blue;
}

header, footer {
    grid-column: 1 / 4;
  }

.grid-layout {
    display: grid;
    grid-template-columns: 12.5em auto 12.5em;
    grid-template-rows: 6.25em 1fr 3.125em;
    grid-gap: 1em;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.grid-layout a {
    text-decoration: none;
    color: inherit;
}

.navbar-item {
    grid-row: 1;
    grid-column: 1 / 2;
}

.navbar-item .home {
    font-size: 1.2em;
    font-weight: 600;
    padding-right: 10px;
}

.navbar-item .item {
    font-size: 1em;
    font-weight: 400;
}

.navbar-item .item:hover, .home:hover {
    background-color: rgb(240, 240, 240);
}

.horizontal-line {
    grid-row: 1;
    grid-column: 3 / 4;
    width: 150px;
    height: 2px;
    background: rgb(49, 49, 49);
}

.left-bracket {
    grid-row: 1;
    grid-column: 3 / 4;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 20%;
}

.right-bracket {
    grid-row: 1;
    grid-column: 3 / 4;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 62%;
}

.image-cropper {
    grid-row: 1;
    grid-column: 2 / 3;
    width: 9.375em;
    height: 9.375em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    justify-self: center;
    border: 1px solid black;

}

.profile-pic {
  display: block;
  grid-row: 1;
  grid-column: 2 / 3;
  align-items: flex-start;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.social-link {
    grid-row: 1;
    grid-column: 3 / 4;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}

.body-content {
    display: grid;    
    grid-row: 2;
    grid-column: 2 / 3;
    padding-top: 1.5625em;
    font-family: 'Roboto', sans-serif;
}

.footer {
    grid-row: 3;
    justify-self: first baseline;
}