{% extends "layout.html" %}
{% block title %}
Zach Hudson
{% endblock %}
{% block content %}
<p>
    Hi, I’m Zach. I went to school to be an Electrical Engineer, but at my core, I’m an engineer who loves problem-solving and 
    continually learning. I enjoy most everything in the technology realm, but right now I am most consumed with web development, 
    software test automation, and machine learning. Mostly...I just love all things web related. I was born, raised, and live in Michigan (even though I’m not a huge fan of snow), 
    currently residing in the lovely city of Kalamazoo.
    <br>
    <br>
    You can reach me using any of the social links above, or shoot me a DM on <a href="https://twitter.com/zkhudson"><u>Twitter</u></a>.
</p>

{% endblock %}