<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>

    <body>
        <div class="grid-layout">
            <div class="navbar-item">
                <a href="{{ url_for('home') }}" class="home">Home</a>
                <a href="{{ url_for('about') }}" class="item">About</a>
                <a href="{{ url_for('contact') }}" class="item">Contact</a>
            </div>
            
            <div class="left-bracket">
                    <p><strong>Zach</strong></p>
            </div>

            <div class="image-cropper">
                <img src="{{url_for('static', filename='zach.jpg')}}" alt="Zach" class="profile-pic">
            </div>    
            
            <div class="right-bracket">
                    <p><strong>Hudson</strong></p>
            </div>

            
            
            <div class="horizontal-line"></div>
            <div class="social-link" style="font-size: 2rem;">
                <a href="https://www.linkedin.com/in/zachhudson/">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/zkhudson">
                    <i class="fab fa-github-square"></i>
                </a>
            </div>
            
            <div class="body-content">
                {% block content %}
                {% endblock %}
            </div>

            <div class="footer">
                <footer>
                    <p class="copyright">&copy; 2018</p>
                </footer>
            </div>
        </div>
    </body>
</html>

