<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <div class="grid-layout">
            <div class="navbar-item">
                <a href="{{ url_for('home') }}" class="home">Home</a>
                <a href="{{ url_for('about') }}" class="item">About</a>
                <a href="{{ url_for('contact') }}" class="item">Contact</a>
            </div>
            
            <div class="left-bracket">
                    <img src="{{url_for('static', filename='left_bracket.png')}}" alt="{">
            </div>

            <div class="image-cropper">
                <img src="{{url_for('static', filename='zach.jpg')}}" alt="Zach" class="profile-pic">
            </div>    
            
            <div class="right-bracket">
                    <img src="{{url_for('static', filename='right_bracket.png')}}" alt="}">
            </div>

            <div class="social-link">
                <img src="{{url_for('static', filename='Logo-2C-14px.png')}}" alt="LinkedIn" class="linkedin-logo">
                <img src="{{url_for('static', filename='GitHub_Logo.png')}}" alt="GitHub" class="github-logo">
            </div>
            
            <div class="body-content">
                {% block content %}
                {% endblock %}
            </div>

            <div class="footer">
                <footer>
                    <p class="copyright">&copy; 2018</p>
                </footer>
            </div>
        </div>
    </body>
</html>

